.board {
 margin: auto;
 margin-top: calc(50vh - 180px);
 height: 400px;
 width: 500px;
 display: flex;
 flex-wrap: wrap;
}

.square {
 height: 47px;
 width: 50px;
 display: inline;
 padding-top: 3px;
 align-items: center;
 text-align: center;
 font-size: 30px;
}

.patchedEven {
 background-color: rgb(170, 215, 81);
}
.patchedOdd {
 background-color: rgb(162, 209, 73);
}

.revealedEven {
 background-color: rgb(229, 194, 159);
}

.revealedOdd {
 background-color: rgb(215, 184, 153);
}
